/**/
/* トップページ */

body {
  font-family: sans-serif;
}

.page__background {
  background-color: white; 
 }

.toolbar.toolbar--material {
  background-color: #00a3af;
}

.btn {
  background-color: #00a3af;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  user-select: none;
  text-decoration: none;
}

.top {
  text-align: center;
  margin: 65px 30px 30px 30px;
  border: 2px solid #00a3af;
}

.top > h1 {
  margin : 0 auto;
  padding: 100px 0 0;
  font-weight: bold;
}

.top-btn {
  display: block;
  margin: 20px auto;
  font-size: 17px;
  width: 250px;
  height: 30px;
  line-height: 30px;
  padding: 8px;
}

#pra-start {
  width: 250px;
  height: 30px;
}

.list {
  cursor: pointer;
}

.titlePic {
  display: block;
  margin: 30px auto;
  width: 100%;
  height: auto;
}

/* 学習モード */
.study-top {
  display: block;
  margin: 50px auto 20px;
  font-size: 17px;
  width: 250px;
  height: 30px;
  line-height: 30px;
  padding: 8px;
}

.st-list {
  display: block;
  margin: 0 auto;
}

.st-container {
  text-align: center;
}

.st-toptop > h1 {
  color: red;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 5px;
}

.st-toptop > p {
  font-size: 18px;
  margin: 0 auto 10px;
  
}

.st-explanation {
  border: 1px dashed #00a3af;
  margin: 5px 10px 10px;
}

.st-explanation p {
  margin: 5px;
}

.st-yuruExplanation {
  border: 1px dashed #00a3af;
  margin: 5px 10px 30px;
}

.st-yuruExplanation p {
  margin: 5px;
}

.st-btn {
  margin-top: 30px;
}

/* 学習ページトップの写真 */
.stuPic {
  display: inline-block;
  margin: 10px auto;
  width: 100%;
}

/* 各学習ページの写真 */
.stPic {
  height: 200px;
  width: auto;
}

/* 練習モード 問題選択画面 */
.toolbar {
  background-color: white;
  padding-top: 0;
}

.center.toolbar__center.toolbar__title {
  background-color: #00a3af;
  color: white;
  font-weight: bold;
  text-align: center;
}

/* 演習モード */
.question {
  text-align: center;
  font-size: 20px;
}

.questionOption {
  margin: 40px auto 10px;
}

.select-input.select-input--material {
  width: 250px;
  font-size: 18px;
}

#pra-start, #test-start {
  padding: 0;
  width: 266px;
  height: 46px;
  margin: 40px auto 0;
  line-height: 46px;
  font-size: 18px;
}

.practice {
  text-align: center;
}

.select-mode {
  text-align: center;
  display: block;
}

.mode {
  margin-bottom: 20px;
}

/* テストモード・演習モード解答ボタンシリーズ */
#ans-btn, #pra-top-btn, #test-top-btn {
  padding: 0;
  width: 266px;
  height: 46px;
  margin: 20px auto 0;
  line-height: 46px;
  font-size: 18px;
  background-color: #00a3af;
}

#praPic, #testPic {
  margin: 30px 0 20px;
}

.questionPage {
  border: 1px dashed #00a3af;
  margin: 10px 10px 30px;
  font-size: 18px;
}
.questionPage > p{
  margin: 5px;
}

.text-input.text-input--underbar {
  margin-top: 10px;
}

#modal-judge, #modal-pass {
  margin: 1.5em auto 0;
  padding: 10px 20px;
  display: none;
}

#judgePic {
  /* display: none; */
  background: none;
  width: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	z-index: 100;
}

/* #passPic {
  background: none;
  width: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	z-index: 100;
}  */

/* 結果表示 */
#pra-score, #test-score {
  color: red;
  font-weight: bold;
  border-bottom: 3px double red;
  width: 150px;
  margin: 16.8px auto;
  font-size: 30px;
}

.praScore-Z {
  border: 2px dashed #00a3af;
  padding: 5px;
  margin: 0 8px 10px;
}

#pra-comment, #test-comment {
  font-size: 18px;
}

/* 成績表示ページ */
table {
  margin: 15px 15px 30px;
  width: 90%;
  border-collapse: collapse;
  border: solid 1px white;
}

.scoreTable p {
  margin-bottom: 0;
}

table th {
  /* width: 30%; */
  color: white;
  padding: 5px 5px;
  border-collapse: collapse;
  border: solid 1px white;
  background: rgba(0, 156, 158, 0.95); 
  font-weight: normal;
  width: 40px;
}

table td {
  /* width: 70%; */
  padding: 10px 5px;
  border-collapse: collapse;
  border: solid 1px white;
  background: rgba(0, 156, 158, 0.15); 
  width: 30px;
  height: 90px;
}

/* フッター */
footer {
  text-align: center;
}

.st-toptop-btn {
  position: absolute;
  bottom: 70px;
  width: 100%;
  margin: 15px auto;
}
