/**/
/* トップページ */

body {
  font-family: sans-serif;
}

.page__background {
  background-color: white; 
 }

 .toolbar.toolbar--material {
   background-color: #00a3af;
 }

.btn {
  background-color: #00a3af;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  user-select: none;
  text-decoration: none;
}

.top {
  text-align: center;
  margin: 65px 30px 30px 30px;
  border: 2px solid #00a3af;
}

.top > h1 {
  margin : 0 auto;
  padding: 100px 0 50px 0;
  font-weight: bold;
}

.top-btn {
  display: block;
  margin: 20px auto;
  font-size: 17px;
  width: 250px;
  height: 30px;
  line-height: 30px;
  padding: 8px;
}


.titlePic {
  display: block;
  margin: 10px auto 50px;
  max-width: 90%;
}

/* 学習モード */
/* .study-top {
  display: block;
  margin: 50px auto 20px;
  font-size: 17px;
  width: 250px;
  height: 30px;
  line-height: 30px;
  padding: 8px;
} */

.st-list {
  display: block;
  margin: 0 auto;
}

.st-container {
  text-align: center;
}

.st-toptop > h1 {
  color: red;
  font-weight: bold;
}

.st-btn {
  margin-top: 30px;
}

.stuPic {
  display: inline-block;
  margin: 10px auto;
  width: 100%;
}

/* 練習モード 問題選択画面 */
.toolbar {
  background-color: white;
  padding-top: 0;
}

.center.toolbar__center.toolbar__title {
  background-color: #00a3af;
  color: white;
  font-weight: bold;
  text-align: center;
}

.

/* 演習モード */
.practice {
  text-align: center;
}

.select-mode {
  text-align: center;
  display: block;
}

.mode {
  margin-bottom: 20px;
}

/* 成績表示ページ */
table {
  display: block;
  margin: 0 auto;
}

/* フッター(各一番下にTOPへ戻るボタンがあるという感じにしたい)の設定 */
footer {
  text-align: center;
}
